<h2> <%= beer.name %> </h2>
<h3> Comments and Reviews </h3>

<div id="comments">
  <ol>
    <% comments.each do |comment| %>
      <li><%=comment.user.username%>: <%=comment.content%></li>
    <%end%>
  </ol>

</div>

<a id="add_comment" href="/beers/<%=beer.id%>/comments/new">Add New Comment</a>

<a href="/beers/<%=beer.id%>">Back to <%= beer.name %>'s Facts</a>
