<h2> <%=user.username %></h2>
<h5> Account Information </h5>
<div class="user_info">
  <li>First Name: <%=user.first_name %></li>
  <li>Last Name: <%=user.last_name %></li>
  <li>Location: <%=user.location%></li>
</div>

<div>
  <a href='/users/<%=user.id%>/edit'>Edit My Account</a>
  <a href='/users/<%=user.id%>/delete'>Delete My Account</a>
</div>


<a href="/beers">See All Beers</a>
