<header>
  <a href="/beers/<%=beer.id%>/edit">Edit Beer Information</a>
  <a href='/beers'>See All Beers</a>
</header>

<h2> <%=beer.name%> </h2>
<h6>Added by <%=beer.user.username%></h6>
<div class='beer_info'>
  <ul>
    <li>Category: <%=beer.category%></li>
    <li>Percent Alcohol: <%=beer.alc_percent%></li>
    <li>Description: <%=beer.description%></li>
  </ul>
</div>


<h4>Comments</h4>

<a href="/beers/<%=beer.id%>/comments">See All Comments</a>



