<h2> <%=beer.name%> </h2>
<h6>Added by <%=beer.user.username%></li>
<div>
  <ul>
    <li>Category: <%=beer.category%></li>
    <li>Percent Alcohol: <%=beer.alc_percent%></li>
    <li>Description: <%=beer.description%></li>
  </ul>
</div>

<a href="/beers/<%=beer.id%>/edit">Edit Beer Information</a>
<a href='/beers'>See All Beers</a>
<a href='/beers/<%=beer.id%>/comments'>See All Comments</a>
